<footer class="footer">
    <div class="container">
        <nav class="footer__menu">
            <a href="javascript:void(0)">О выставке</a>
            <a href="javascript:void(0)">Участники</a>
            <a href="javascript:void(0)">Акции и новинки</a>
            <a href="javascript:void(0)">Контакты</a>
        </nav>
        <a href="javascript:void(0)" class="btn btn-outline">Участникам</a>
        <div class="social">
            <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-vk"></use></svg></a>
            <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-inst"></use></svg></a>
            <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-fb"></use></svg></a>
            <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-youtube"></use></svg></a>
        </div>
        <div class="footer__markets">
            <a href="javascript:void(0)"><img src="img/appstore.svg" alt=""></a>
            <a href="javascript:void(0)"><img src="img/google.svg" alt=""></a>
        </div>
    </div>

    <div class="container footer__copyright">© 2020 Expodesign</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="js/libs/jquery.mask.min.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>