<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="/" class="header__logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="header__date">10-13 сентября 2020</div>
        </div>
        <a href="javascript:void(0)" class="btn header__buy"><span class="mobile">Купить</span> билет</a>
        <div class="header__links">
            <div class="social">
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-vk"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-inst"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-fb"></use></svg></a>
                <a href="javascript:void(0)"><svg class="icon"><use xlink:href="img/symbol-defs.svg#icon-youtube"></use></svg></a>
            </div>
            <div class="header__lang">
                <a href="javascript:void(0)" class="active">RU</a>/<a href="javascript:void(0)">EN</a>
            </div>
        </div>
    </div>
</header>